<p style="color: green"><%= notice %></p>

<h1>User agrovets</h1>

<div id="user_agrovets">
  <% @user_agrovets.each do |user_agrovet| %>
    <%= render user_agrovet %>
    <p>
      <%= link_to "Show this user agrovet", user_agrovet %>
    </p>
  <% end %>
</div>

<%= link_to "New user agrovet", new_user_agrovet_path %>
