<h1>New order</h1>

<%= render "form", order: @order %>

<br>

<%# <div>
  <%= link_to "Back to orders", orders_path 
</div> %>

<div>
<button type="button" class="btn mt-4" style="background: brown;">
<i class="fa fa-chevron-circle-left" aria-hidden="true" style="color: #fff;"></i>
        <%= link_to "Latest Order ",  placeorder_agrovet_path(@agrovet), style: "color: #fff; text-decoration: none; font-weight: bold;" %>
</button>
</div>