<h1>Editing data entry</h1>

<%= render "form", data_entry: @data_entry %>

<br>

<div>
  <%= link_to "Show this data entry", @data_entry %> |
  <%= link_to "Back to data entries", data_entries_path %>
</div>
