<h1>New data entry</h1>

<%= render "form", data_entry: @data_entry %>

<br>

<div>
  <%# <%= link_to "Back to data entries", data_entries_path %>
  <%= link_to "Go back", agrovetinfo_agrovet_path(@agrovet), style: "color: #000; text-decoration: none; font-weight: bold;" %>
</div>
